*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "plain light";
}
html,body{
    width: 100%;
    height: 100%;
}
.mousefollower{
   border: 2px solid #fff;
   background-color: rgb(225, 225, 225);
   scale:2;
   mix-blend-mode: difference;
}
#loader{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background-color: #0b0b0b;
    padding: 20vh 10vw;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;

}
.line{
   height: fit-content;
   width: fit-content;
   overflow: hidden;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 1.5vw;
   
}
.line1-part1{
    display: flex;
   justify-content: start;
   align-items: center;
   gap: 1.5vw;
}
.line1-part1 h5,.line1-part1 h6{
    font-size: 3vw;
    font-weight: 400;
    font-family: 'silk serif';
}
.line1-part1 h6{
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 4.6vw;
    padding-right: 12px;
    font-weight: 900;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 1px #fff;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: plain light;
        -webkit-text-stroke: 1px #fff;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silk serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: silk serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    width: 100%;
    height: 120vh;
    background-color: #151515;
}
#nav{
    display: flex;
    padding: 3vw 5vw;
    padding-left: 8vw;
    justify-content: space-between;
    align-items: center;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    
}
#nav-part2 h4{
    font-weight: 200;
}

.hero{
    /* background-color: red; */
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    justify-content:start;
    align-items: center;

}
.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 600;
    position: relative;
}
#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 18%;
    top: 32%;
    
 }
.hero:nth-child(2){
    margin-top: 7.3vw;
}
.hero h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 600;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}
#page1 img{
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate("-50%,-50%");
}
#hero3{
    z-index: 999;
    position: relative;
}
/* page 2 */
#page2{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding-top: 3vw;
    /* margin-top: 11vw; */
    /* margin-bottom: 6vw; */

}
#video-container{
    width: 72vw;
    height: 65vh;
    margin-left: 27%;
    position: relative;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
#video-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}
#video-cursor{
    width: 10vw;
    height: 10vw;
    background-color: #ffa63d;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 70%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-cursor i{
    font-size: 2vw;
}
#page3{
    width: 100%;
    min-height: 150vh;
    /* background-color: #2e2e2e; */
    position: relative;
    padding: 17vh 2vw;
    padding-bottom: 15vw;
    padding-top: 18vw;
    margin-top: 5vw;
    /* background-color: #ffa63d; */
    
}
#page3>h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    padding-bottom: 5vw;
    font-weight: 600;
    position: relative;
    padding-left: 28vw;
}
#page3>h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 18%;
    top: 6%;
 }
#page3 .underline{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-left: 28vw;

}
#page3-img-container{
    padding: 5vw 2vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* background-color: #ffa63d; */
}
.img-div{
    height: 40vw;
    width: 31vw;
    background-color: blue;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 2vw;
    
}
.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#img-div1{
    /* background-color:yellow; */
    padding: 1vw;
    margin: 0vw;
}
#img-div1 .img-div{
    height: 29vw;
    width: 23vw;
    margin-top: 2vw;
}
#img-div1 h1{
     font-size: 2.5vw;
}
.img-div-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 2vw;
}
.img-div-bottom h5{
    font-weight: 400;
    font-size: 0.98vw;
    line-height: 1.5vw;

}
.img-div-main h1{
   font-size: 2.5vw;
}
.img-div-main{
    padding: 1vw;

}
#page3-img-container .underline{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-left: 0vw;

}
.page3-circle1{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70vh;
    margin-left: 8vw;
    position: relative;
}
.page3-circle1 svg{
    height: 30%;

}
.page3-circle2{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 23vh; */
    /* margin-left: 10vw; */
    position: relative;
    margin: 1.5vw;

}
.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.3s;
}
.circle-in p{
       font-size: 0.95vw;
       color: #000;
       font-weight: 500;
       width: 60%;
       scale: 0;
       transition: all ease 0.3s;
       transition-delay: 0.3s;
       opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover .circle-in p{
    scale: 1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover .circle-in p{
    scale: 1;
    opacity: 1;
    text-align: center;
}
#img-div3{
    margin-top: 5vw;
}
#img-div4{
    margin-top: -2vw;
}

#orange-circle{
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    background-color: #ffa63d;
    margin: 10vw 0;
    margin-bottom: 15vw;
    
    /* transform: translateX(180%); */
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}
#orange-circle h3{
    font-weight: 500;
}
#orange-circle:hover{
    scale: 0.8;
}
#page4{
    /* width: 100%; */
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    margin: 25vw 0;
    
}
#page4-content{
    width: 72vw;
    height: 240vh;
    position: relative;
    margin-left: 28%;
    border-bottom: 1px solid #fff;
    margin-bottom: 3vw;
    
}
#page4-content>h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    padding-bottom: 5vw;
    font-weight: 600;
    position: relative;
}
#page4-content>h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -16%;
    top: 6%;
 }
#underline{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
#page4-content>p{
    padding-top: 3vw;
    width: 50%;
    font-size: 2.3vw;
    line-height: 2.7vw;
}
#flex-box{
    display: flex;
    margin-top: 4vw;
}
#flex-box img{
    width: 45%;
    height: 40%;
    object-fit: cover;
}
#flex-box p{
    width: 28%;
    padding-left: 2vw;
    font-size: 1vw;
    line-height: 1.5vw;
}
#blue-box{
    width: 45%;
    /* height: fit-content; */
    background-color: #3f7df4;
    position: absolute;
    margin-top: -25%;
    margin-left: 32%;
    padding: 3vw 0;
    padding-bottom: 5vw;
}
.bluebox-text{
    width: 25vw;
    height: 7vw;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw 3.5vw;
    gap: 2vw;
    /* background-color: #ffa63d; */
}
.bluebox-text h1{
    font-size: 1.6vw;
    width: 50%;
    font-weight: 500;
}
.bluebox-text h2{
    font-size: 1vw;
    font-weight: 500;
    width: 50%;
}
#bottom-underline{
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 10%;
}
body{
    overflow-x: hidden;
}
#page5{
    width: 100%;
    height: 120vh;
    padding-top: 5vw;
     
}
.elem-text{
    /* background-color: red; */
   white-space: nowrap;
   
}
.elem-text h1{
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    animation-name: text-anime;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   margin-bottom: -3vw;
 }
 .elem-text2{
    /* background-color: red; */
   white-space: nowrap;
   
}
.elem-text2 h1{
    font-size: 7.5vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    animation-name: text-anime;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: reverse;
   margin-bottom: -3vw;
 }
 .elem-text span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
 }
 .elem-text2 span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
 }
 @keyframes text-anime {
    0%{
       transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 4px));
    }
 }
 #footer{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    margin-top: 10vw;
    /* background-color: #3f7df4; */
 }
 #footer h1{
    font-size: 7.2vw;
    width: 60vw;
    text-transform: uppercase;
    margin-bottom: 5vw;
    position: relative;
   
 }
 #footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -16%;
    top: 6%;
 }
 .underline{
    height: 2px;
    width: 100%;
    background-color: white; 
    margin: 2vw 0;

 }
 #footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 8vw;
 }
 #footer-div h6{
    font-size: 1vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
 }
 .box{
    width: 20%;
 }
 #footer-div h5{
    font-size: 1.8vw;
    font-weight: 500;
    margin: 0.2vh 0;
    line-height: 1.8vw;
 }
 #footer>h5{
    font-size: 1vw;
    font-weight: 500;
 }